@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
:root{
    --border-solid: solid;
    --border-radius: 5%;
    --border-radiusb: 15%;
    --import-font: 'Cabin Sketch';
    --border-often: 1%;
    --font-size: 500%;
    --color-back: rgb(14, 14, 17);
    --colorf-head: rgb(255, 255, 255);
    --colorb-head: rgb(94, 100, 100);
    --space-margin: 4%;
    --type-margin: ridge;
    --line-cerow:  rgba(97,96,97,1);
    --line-unus: -moz-linear-gradient(top, rgba(97,96,97,1) 0%, rgba(143,143,143,1) 16%, rgba(143,143,143,1) 37%, rgba(143,143,143,1) 86%, rgba(59,55,59,1) 100%);
    --line-due: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(97,96,97,1)), color-stop(16%, rgba(143,143,143,1)), color-stop(37%, rgba(143,143,143,1)), color-stop(86%, rgba(143,143,143,1)), color-stop(100%, rgba(59,55,59,1)));
    --line-tri: -webkit-linear-gradient(top, rgba(97,96,97,1) 0%, rgba(143,143,143,1) 16%, rgba(143,143,143,1) 37%, rgba(143,143,143,1) 86%, rgba(59,55,59,1) 100%);
    --line-four:  -webkit-linear-gradient(top, rgba(97,96,97,1) 0%, rgba(143,143,143,1) 16%, rgba(143,143,143,1) 37%, rgba(143,143,143,1) 86%, rgba(59,55,59,1) 100%);
    --line-quinque:  -o-linear-gradient(top, rgba(97,96,97,1) 0%, rgba(143,143,143,1) 16%, rgba(143,143,143,1) 37%, rgba(143,143,143,1) 86%, rgba(59,55,59,1) 100%);
    --line-sixtem: -ms-linear-gradient(top, rgba(97,96,97,1) 0%, rgba(143,143,143,1) 16%, rgba(143,143,143,1) 37%, rgba(143,143,143,1) 86%, rgba(59,55,59,1) 100%);
    --line-septem: linear-gradient(to bottom, rgba(97,96,97,1) 0%, rgba(143,143,143,1) 16%, rgba(143,143,143,1) 37%, rgba(143,143,143,1) 86%, rgba(59,55,59,1) 100%);
    --line-octo: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616061', endColorstr='#3b373b', GradientType=0 );
    --line2-cerow:  rgba(99,114,122,1);
    --line2-due: -moz-linear-gradient(45deg, rgba(99,114,122,1) 0%, rgba(148,148,148,1) 29%, rgba(255,255,255,1) 51%, rgba(142,149,153,1) 80%, rgba(117,120,122,1) 100%);
    --line2-tri: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(99,114,122,1)), color-stop(29%, rgba(148,148,148,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(80%, rgba(142,149,153,1)), color-stop(100%, rgba(117,120,122,1)));
    --line2-four:-webkit-linear-gradient(45deg, rgba(99,114,122,1) 0%, rgba(148,148,148,1) 29%, rgba(255,255,255,1) 51%, rgba(142,149,153,1) 80%, rgba(117,120,122,1) 100%);
    --line2-quinque:  -o-linear-gradient(45deg, rgba(99,114,122,1) 0%, rgba(148,148,148,1) 29%, rgba(255,255,255,1) 51%, rgba(142,149,153,1) 80%, rgba(117,120,122,1) 100%);
    --line2-sixtem: -ms-linear-gradient(45deg, rgba(99,114,122,1) 0%, rgba(148,148,148,1) 29%, rgba(255,255,255,1) 51%, rgba(142,149,153,1) 80%, rgba(117,120,122,1) 100%);
    --line2-septem: linear-gradient(45deg, rgba(99,114,122,1) 0%, rgba(148,148,148,1) 29%, rgba(255,255,255,1) 51%, rgba(142,149,153,1) 80%, rgba(117,120,122,1) 100%);
    --line2-octo: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63727a', endColorstr='#75787a', GradientType=1 );
    --font-unus:rgba(242,246,248,1);
    --font-due:-moz-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    --font-tri:-webkit-gradient(left top, right bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
    --font-four:  -webkit-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    --font-quinque:-o-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    --font-sixtem: -ms-linear-gradient(-45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    --font-septem: linear-gradient(135deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    --font-octo: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
    --img-size: 50%;
    --novof-size: 200%;
}
.borprinhead{
    border-style: var(--border-solid);
    border-radius: var(--border-radius);
    background: var(--color-back);
    border-color: var(--colorb-head);
    border-width: 7px;
}
.textprin{
    text-align: center;
    font-family:var(--import-font);
    font-size: var(--font-size);
    color: var(--colorf-head);
}
.buttons{
    background-color: var(--colorb-head);
    border-style: double;
    border-radius: var(--border-radiusb);  
    text-align: center;
    display: flex;
    align-items: center;
}
.textbut{
    font-family: var(--import-font);
    font-size: (var(--border-radius));
    color: var(--colorf-head);
   text-align: center;
   display: flex;
   align-items: center;
}
.bormain{
    min-height: 800px;
    border-style: var(--type-margin);
    border-color: var(--color-back);
    border-radius: 2%;
    background-color: rgb(67, 75, 75);
    background: var(--line-cerow);
    background: var(--line-unus);
    background: var(--line-due);
    background: var(--line-tri);
    background: var(--line-four);
    background: var(--line-quinque);
    background: var(--line-sixtem);
    background: var(--line-septem);
    filter: var(--line-octo);
}
.boraside{
    min-height: 800px;
    border-radius: 3%;
    border-style: var(--type-margin);
    border-color: rgb(0, 0, 0);
    background-color: rgb(67, 75, 75);
    background: var(--line-cerow);
    background: var(--line-unus);
    background: var(--line-due);
    background: var(--line-tri);
    background: var(--line-four);
    background: var(--line-quinque);
    background: var(--line-sixtem);
    background: var(--line-septem);
    filter: var(--line-octo);
}
.borfooter{
    border-radius: 12px;
    border-style: var(--type-margin);
    border-color: rgb(0, 0, 0);
    background: var(--line2-cerow);
    background: var(--line2-due);
    background: var(--line2-tri);
    background: var(--line2-four);
    background: var(--line2-quinque);
    background: var(--line2-sixtem);
    background: var(--line2-septem);
    filter: var(--line2-octo);
}
.textfoot{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25%;
    text-align: center;
}
.imgaside{
    margin-top: var(--border-radiusb);
    width: 60%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    border-width: var(--border-often);
    border-color: var(--color-back);
    margin-bottom: var(--space-margin);
}
.fontaside{
    margin-top: 2%;
    text-align: center;
    margin-top: 1%;
    color: var(--font-unus);
    color: var(--font-due);
    color: var(--font-tri);
    color: var(--font-four);
    color: var(--font-quinque);
    color: var(--font-sixtem);
    color: var(--font-septem);
    filter: var(--font-octo);
}
.imgprinc{
    width: var(--img-size);
    height: var(--img-size);
    margin-left: 25%; 
}
.textprinc{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 300%;
    margin-top: 5%;
    color:  var(--colorf-head);
}
h1{
    color: var(--colorf-head);
    text-align: center;
}
h3{
    font-size:var(--novof-size) ;
    color: var(--colorf-head);
    text-align: center;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    margin-left: 5%;

}
.center{
    display: flex;
    align-content: center;
}
